
mixin modal() 
	//	start modals
	div(id="modal-call"	style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)
				+input("Ваше телефон",'tel')(required)
				+input("Ваше телефон",'tel')(required)
				+e.BUTTON.btn.btn(type="submit"	) submit
				+policy()
				+policy()
	// #modal-call

	div(id="modal-order"	style="display: none" )
			+b.modal-win
				+form-wrap
					.text-center
						+e.title.form-data.h3 Подать заявку #[span на&nbsp;стажировку]
					+input("ФИО", 'text')(required)
					+input("Дата рождения",'text')(required)
					//- (required readonly autocomplete="off"  class="date-input").data-picker--js
					+input("Телефон",'tel')(required)
					+input("Электронная почта",'email')(required)
					+input("Вуз", 'text')(required)
					+input("Специальность", 'text')(required)
					+input("Год окончания", 'number')(required)
					+input("Направление стажировки",'select')
					+e.radio-descr Готов рассматривать альтернативное направление
					.radio-wrap
						+in-c('radio','Да')(checked)
						+in-c('radio','Нет')
					+input("Направление второго приоритета",'select')
					+b.LABEL.add-resume Резюме
						input(type="file", name="upload", onchange="loadFile(event)")
						+icon('upload')
					+e.capture Подтвердите, что вы не робот, введите символы с картинки#[span *]
					+e.capture-wrap
						+e.capture-place
							+img('img/capture.png')
							+input("", 'text')(required)
						+img('img/capture-btn.png')
					+policy()
					+e.BUTTON.btn.btn.btn-primary(type="submit"	) Подать заявку
	// #modal-call
	
	// end modals