mixin sCandidates(data)
	// start sCandidates
	+b.SECTION.sCandidates.section#sCandidates&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sCandidates
				
			+e.row.row
	// end sCandidates