mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Делай город счастливее
			+e.row.row
				+e.col.col-12.col-lg-6
					+b.adv-card
						+e.title
							h3 В лучшей команде Москвы
						+e.descr Получи реальный опыт работы в одной из 25 клиник ГБУ «Московское объединение ветеринарии» 
							span ⓘ
							+e.info *Государственное бюджетное учреждение города Москвы «Московское объединение ветеринарии» входит в структуру Государственной ветеринарной службы столицы и обеспечивает защиту населения от болезней, общих для человека и животных, а также ветеринарную безопасность пищевых продуктов.
				+advCard('Вместе с наставниками', 'Пройди программу адаптации и раскрой свой потенциал при поддержке опытных врачей')
				+advCard('За денежное вознаграждение', 'Получай официальную зарплату, выбрав полный рабочий день или частичную занятость')
				+advCard('С перспективами трудоустройства', 'Прояви себя, чтобы стать постоянным сотрудником государственной ветеринарной клиники столицы')
	// end sAdvantages


mixin advCard(title, descr)
	+e.col.col-12.col-lg-6
		+b.adv-card
			+e.title
				h3!= title
			+e.descr!= descr