// start .sAdvantages
.sAdvantages {
	// --sPT: #{rem()};
	--sPB: #{rem(40)};
	--sTPB: #{rem(24)};
  @include media-breakpoint-up(lg) {
    --sTPB: #{rem(48)};
    --sPB: #{rem(160)};
  }
	
	&__row{
		// --bs-gutter-x: #{rem()};
    --bs-gutter-y: #{rem(16)};
    @include media-breakpoint-up(lg) {
      --bs-gutter-y: #{rem(40)};
    }
	}
	.section-title{
		
	}
  h2 {
    @include media-breakpoint-down(lg) {
      line-height: $line-height-sm;
    }
  }
	&__col{
		
	}
	&__item{
		
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAdvantages

.adv-card {
  height: 100%;
  padding: rem(20);
  background: $white;
  border-radius: $border-radius-sm;
  @include media-breakpoint-up(lg) {
    min-height: rem(320);
    padding: rem(40);
    border-radius: $border-radius;
  }

  h3 {
    line-height:  1.2;
    @include media-breakpoint-down(lg) {
      font-size: rem(24);
    }
  }

  &__descr {
    position: relative;
    color: $primary;
    font-size: rem(16);
    line-height: 1.45;
    @include media-breakpoint-up(lg) {
      font-size: rem(22);
      line-height: 1.5;
    }
  }

  span {
    cursor: pointer;
    position: relative;
  }

  &__info {
    position: absolute;
    // bottom: rem(25);
    // left: rem(10);
    display: inline-block;
    z-index: 5;
    width: rem(560);
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
    padding: rem(30) rem(40);
    border: 1px solid $blue-200;
    background: $white;
    color: $gray-600;
    border-radius: $border-radius-sm $border-radius-sm $border-radius-sm 0;
    @include media-breakpoint-up(lg) {
      border-radius: rem(60) rem(60) rem(60) 0;
    }
  }
}

.popover {
  --bs-body-bg: #{$white};
  --bs-body-color: #{$gray-600};
  @include media-breakpoint-up(lg) {
    --bs-popover-max-width: #{rem(560)};
    --bs-popover-font-size: #{rem(22)} !important;
    --bs-popover-body-padding-x: #{rem(40)};
    --bs-popover-body-padding-y: #{rem(30)};
  }
}