@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(22 / #{$h} *1em );
}
.icon-bone {
	$h: 128;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(128 / #{$h} *1em );
}
.icon-check {
	$h: 27;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.icon-cup {
	$h: 90;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(94 / #{$h} *1em );
}
.icon-fb {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-instagram {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-mail {
	$h: 54;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(54 / #{$h} *1em );
}
.icon-medicine {
	$h: 50;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(50 / #{$h} *1em );
}
.icon-rocket {
	$h: 84;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(84 / #{$h} *1em );
}
.icon-star {
	$h: 33;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(33 / #{$h} *1em );
}
.icon-surgery {
	$h: 50;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(50 / #{$h} *1em );
}
.icon-tablet {
	$h: 50;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(50 / #{$h} *1em );
}
.icon-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-viber {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-video {
	$h: 99;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(98 / #{$h} *1em );
}
.icon-video-1 {
	$h: 98;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(97 / #{$h} *1em );
}
.icon-vk {
	$h: 24;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(24 / #{$h} *1em );
}
.icon-whatsapp {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.icon-zig-zag-1 {
	$h: 120;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(107 / #{$h} *1em );
}
.icon-zig-zag-2 {
	$h: 170;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(100 / #{$h} *1em );
}
.icon-zig-zag-3 {
	$h: 124;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(156 / #{$h} *1em );
}
