mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.inner-wrapper
				.row
					+e.col.col-12.col-md-8
						+b.section-title
							h1 #[span Начни карьеру ветеринарного врача] в государственных клиниках города Москвы!
						+e.description Пройди оплачиваемую стажировку, заботясь о питомцах нашего мегаполиса.
						+e.btn.btn.btn-light(href='#') Подать заявку
						+e.info Период стажировки: #[span 08.2024–01.2025]
						+e.info Прием заявок: #[span 05–06.2024]
					+e.col.col
						+e.img-wrapper
							+img('img/header-img.png')
							+img('img/cross.png')
							+img('img/star.png')
							+img('img/star.png')
							+img('img/star.png')
							+img('img/heart.png').d-none.d-lg-block
							+img('img/zig-zag.png').d-none.d-lg-block
	// end headerBlock