mixin sRecruitment(data)
	// start sRecruitment
	+b.SECTION.sRecruitment.section#sRecruitment&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sRecruitment
				
			+e.row.row
	// end sRecruitment