.form-wrap {
	&__input-wrap {
		// @extend .form-group;
		margin-bottom: rem(8);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(12);
    }
	}
	&__input {
		// @extend .form-control;
		//  outline: 0 !important;
		resize: none;
	}
	&__btn {
		cursor: pointer;
		margin-bottom: rem(15);
	}
	label {
		width: 100%;
		display: block;
	}

  

}

//
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(xs) {
}
@include media-breakpoint-between(md, xl) {
}
@include media-breakpoint-only(xl) {
}
@include media-breakpoint-down(xs) {
}

.form-check {
}
.form-check-input {
}
.form-check-label {
}

input[type="number"] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

.form-control {
  padding-bottom: rem(14);
  --bs-border-color: #{$gray-100};
}

.form-control:focus {
  border-color: $cyan;
  &::placeholder {
    color: $blue-200;
  }
}

.form-select, .select2-container--default .select2-selection {
  --bs-border-color: #{$gray-100};
}
.form-control::placeholder {
  color: $gray-500;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: $gray-500;
}

.select2-results__option {
  // --selectable-color: #fff;
  // --selected-bg: #eceff2;
  // --selectable-color: #{$blue-600};
  --selected-color: #{$blue-600};
  color: $blue-600;
}


.form-wrap__input {
  @include media-breakpoint-down(sm) {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    padding-left: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    // .div:first-child {
    //   display: none !important;
    // }
  }
}
.form-control::placeholder {
  @include media-breakpoint-down(sm) {
    color: transparent !important;
  }
}
.form-control {
  @include media-breakpoint-down(sm) {
    font-size: rem(16);
  }
}