.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-x: #{rem(10)};
		// @include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
		// }

	}
  @include mt(.3s);
  // position: relative;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-top: rem(12);
  padding-bottom: rem(12);
  background: $gray-100;
  box-shadow: 0 4px 20px 0 rgba(11, 31, 53, 0.05);

  @include media-breakpoint-up(lg) {
    border-radius: 0 0 rem(32) rem(32);
    padding-top: rem(17);
    padding-bottom: rem(17);
  }

	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

  .logo-container {
    display: flex;
    gap: rem(15);

    .icon {
      fill: $blue-600;
      @include media-breakpoint-up(lg) {
        margin-top: rem(6);
      }
    }

    .icon-logo {
      @include media-breakpoint-down(lg) {
        font-size: rem(42);
      }
    }

    .icon-logo-img {
      display: none;
      @include media-breakpoint-up(xl) {
        display: block;
      }
    }
  }

  .col-auto.d-none.d-lg-flex {
    align-items: center;
    .btn {
      font-weight: 400;
      --bs-btn-padding-x: #{rem(40)};
    }
  }

  &.active {
    background: $white;
    .icon {
      fill: $purple;
    }
  }

	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


