mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+ddGroup
				+b.section-title
					h2 Частые вопросы
				+ddGroupItem('Кто может стать стажером?', 'active')
					p Стажерами Правительства Москвы могут стать студенты последнего курса магистратуры/специалитета или выпускники профильных вузов и молодые специалисты до 35 лет включительно
				+ddGroupItem('Можно ли совмещать стажировку с учебой?', 'active')
					p Да. Стажировка проходит по будням в рабочие часы, но специально для студентов у нас предусмотрен гибкий график работы. Некоторые команды готовы рассматривать стажеров на частичную занятость — 20 часов в неделю.
				+ddGroupItem('Оформляется ли трудовая книжка на стажировке?')
					p Да. Все наши стажеры официально оформлены в Университете Правительства Москвы как специалисты проекта в сфере городского управления. При успешном прохождении программы ты сможешь трудоустроиться в ветеринарную клинику
				
				+ddGroupItem('Можно ли попасть на стажировку, проживая в другом городе?')
					p Да. Участники со всей России имеют равные шансы и проходят одинаковый путь отбора на стажировку. Однако важно понимать, что в период проведения программы всем стажерам нужно находиться в Москве
				+ddGroupItem('Сколько длится стажировка?')
					p Стажировка длится 6 месяцев — с августа 2024 по январь 2025 года
				+ddGroupItem('Оплачивается ли стажировка?')
					p Да. Стажеры получают официальную зарплату в зависимости от выбранного графика работы: 52 000 руб. при полной занятости и 26 000 руб. при частичной занятости (до вычета налогов)
				+ddGroupItem('Сколько длится стажировка?')
					p Стажировка длится 6 месяцев — с августа 2024 по январь 2025 года
				+ddGroupItem('В каком формате проходит стажировка: очно или удаленно?')
					p Стажировка будет проходить только в очном формате
				+ddGroupItem('Учат ли чему-то на стажировке?')
					p Опытный ветеринарный врач, который на полгода станет для стажера наставником, будет передавать свой профессиональный опыт и знания, делиться секретами профессии и помогать раскрыть свой потенциал. Во время стажировки получится проверить свои навыки работы с животными и максимально погрузиться в профессию
				+ddGroupItem('Предусмотрено ли трудоустройство после окончания стажировки?')
					p Самые яркие и успешные стажеры получат шанс стать постоянными сотрудниками государственных ветеринарных клиник столицы. При наличии вакансий можно остаться в той же команде, в которой ты проходил стажировку. Если открытых позиций не будет — мы предложим другие варианты
				+ddGroupItem('Можно ли попасть в штат до окончания стажировки?')
					p Да, такое может случиться. Все зависит от нескольких факторов: знаний и навыков стажера, мотивации. Но все реально, если очень захотеть и отлично проявить себя


	// end sQuestions