mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sQuestions
				
			+e.row.row
	// end sQuestions