mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+ddGroup
				+b.section-title
					h2 Частые вопросы
				+ddGroupItem('Кто может стать стажером?', 'active')
					p Стажерами Правительства Москвы могут стать студенты последнего курса бакалавриата/специалитета или выпускники профильных вузов и молодые специалисты до 35 лет включительно.
				+ddGroupItem('Можно ли совмещать стажировку с учебой?', 'active')
					p Да. Стажировка проходит по будням в рабочие часы, но специально для студентов у нас предусмотрен гибкий график работы. Некоторые команды готовы рассматривать стажеров на частичную занятость — 20 часов в неделю.
				+ddGroupItem('Оформляется ли трудовая книжка на стажировке?')
					p Да
				+ddGroupItem('Можно ли подать заявку на несколько направлений?')
					p Да
				+ddGroupItem('Можно ли попасть на стажировку, проживая в другом городе?')
					p Да
				+ddGroupItem('Сколько длится стажировка?')
					p Да
				+ddGroupItem('Оплачивается ли стажировка?')
					p Да
				+ddGroupItem('Можно ли подать заявку, не имея опыта по выбранному направлению?')
					p Да
				+ddGroupItem('В каком формате проходит стажировка: очно или удаленно?')
					p Да
				+ddGroupItem('Учат ли чему-то на стажировке?')
					p Да
				+ddGroupItem('Предусмотрено ли трудоустройство после окончания стажировки?')
					p Да
				+ddGroupItem('Можно ли попасть в штат до окончания стажировки?')
					p Да


	// end sQuestions